
/*Global =======================================================================================*/

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background: #f3f3f5;
}


/*Header start======================================================================================*/

header{
	width: 100%;
	height: 95px;
	background: white;
	margin: 0;
	padding: 0;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.50);
	position: fixed;


}

.head_container{
	width: 98%;
	height: 100%;
	display: flex;
	margin: 0px auto;
	padding: 0px 0 0 0;
}

#logo{
	font-size: 30px;
	width: 30%;
	margin: 0;
	padding: 10px 15px 0 13px;
	color: black;
	z-index: 1;

}

span#menu{
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 20px 5px 0 10px;
	z-index: 100;
	display: flex;

}

#menu li{
	padding: 0;
	margin: 0;
	list-style: none;
}



#menu a{
	text-decoration: none;
	padding: 8px 8px 0px 10px;
	font-size: 18px;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
}


#menu #men-list:hover #men::after,
#menu #men-list:focus #men::after{
	width: 100%;
}




#menu #men::after{
	content: '';
	display: block;
	width: 0%;
	height: 5px;
	margin: 3px 0 0 0;
	padding: 5px 0 0px 0;
	position: absolute;
	background-color: cyan;
}

#menu #men{
	color: cyan;
}

#menu #women-list:hover #women-menu-sub,
#menu #women-list:focus #women-menu-sub{
	display: block;
}

#menu #women-list:hover #women::after,
#menu #women-list:focus #women::after{
	width: 100%;
}

#menu #women::after{
	content: '';
	display: block;
	width: 0%;
	height: 5px;
	margin: 3px 0 0 0;
	padding: 5px 0 0px 0;
	position: absolute;
	background-color: pink;
	transform: translateX(0%);

}

#menu #women{
	color: pink;
	
}

.menu-sub{
	position: absolute;
	width: 100vw;
	height: 50vh;
	background: white;
	margin: 7px 0 0 0;
	left: 0;
	font-size: 80px;
	text-align: center;
}

#men-menu-sub{
	border:2px cyan solid;
	display: none;

}

#women-menu-sub{
	border:2px pink solid;
	display: none;

}



#menu #men-list:hover #men-menu-sub,
#menu #men-list:focus #men-menu-sub{
	display: block;
}

.search_bar{
	position: absolute;
	z-index: 1;
	width: 100%;
	margin: 0;
	padding: 35px 0 0 0px;
}

#search_form{
	width: 100%;
	display: flex;
	padding: 13.5px 0 0 0;
}

#search_input{
	width: 100%;
	height: 35px;
	overflow: hidden;
	transform: translateX(12px);
}

#search_form input[type="text"]{
	padding: 2px 45px 2px 25px;
	border: 0;
	border-radius: 22px;
	outline: 0;
	background: #f3f3f5;
	font-size: 18px;
}

#searchicon{
	margin-top: 3px;  
	width: 35px;
	height: 35px;
	transform: translateX(-25px);
	cursor: pointer;
	background: none;
	border: 0;
}
#searchicon img{
	width: 18px;
}

span#accounticon{
	width: 23%;
	margin: 0;
	padding: 8px 0 10px 0px;
	text-align: right;
	z-index: 1;

}
#accounticon img{
	width: 30px;
	padding-left: 2px ;
}

span#bagicon{
	width: 15%;
	margin: 0;
	padding: 5px 6px 10px 0px;
	text-align: right;
	z-index: 1;
}
#bagicon img{
	width: 34px;
}

/*Header over======================================================================================*/

/*section Showcase================================================================================*/

.showcase{
	padding: 95px 0 0 0;
	width: 100vw;
	height: 300px;
	overflow: hidden;
}

.showcase #slide_img{
	width: 100%;
	height: 100%;

}



/*MEDIA QUERIES=====================================================================================*/


@media(min-width: 760px){

	header{
		height: 70px;

	}


	#logo{
		font-size: 40px;
		width: 10%;
		margin: 0 65px 0 0;
		padding: 10px 15px 0 28px;

	}

	span#menu{
		width: 15%;
		height: 100%;
		margin: 0 0 0 0px;
		padding: 25px 5px 0 0px;
		z-index: 1;
		min-width: 180px;
		text-align: left;
	}




	#menu a{
		text-decoration: none;
		padding: 20px 8px 0px 10px;
		font-size: 20px;
		position: relative;
		font-family: 'Ubuntu', sans-serif;
	}


	.menu-sub{
		height: 40vh;
		margin: 14px 0 0 0;
	}

	#menu #women::after{
		padding: 6px 0 0 0;
		transition: all ease-in-out 200ms;

	}

	#menu #men::after{
		padding: 6px 0 0 0;
		transition: all ease-in-out 200ms;

	}

	.search_bar{
		position: relative;
		width: 70%;
		margin: 0;
		padding: 17px 0 0 0px;
	}

	#search_form{
		padding: 0px 0 0 0;
	}

	#search_input{
		width: 100%;
		height: 40px;
		overflow: hidden;
	}

	#search_form input[type="text"]{
		border-radius: 20px;
		font-size: 18px;
	}

	#searchicon{
		margin-top: 1.5px;  
		width: 40px;
		height: 40px;
		transform: translateX(-50px);
	}


	#searchicon img{
		width: 25px;
	}

	span#accounticon{
		width: 5%;
		margin: 0;
		padding: 13px 0 0 0px;

	}
	#accounticon img{
		width: 35px;
		padding-left: 2px ;
	}

	span#bagicon{
		width: 5%;
		margin: 0;
		padding: 11px 10px 0px 0px;
	}

	#bagicon img{
		width: 38px;
	}

}