
/*Global =======================================================================================*/

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background: #f3f3f5;
}



/*section Showcase================================================================================*/

.showcase{
	padding: 95px 0 0 0;
	width: 100vw;
	height: 300px;
	overflow: hidden;
}

.showcase #slide_img{
	width: 100%;

}



