/*Global =======================================================================================*/

*{
	box-sizing: border-box;

}

body{
	margin: 0;
	padding: 0;
}



/*Header start======================================================================================*/

header{
	width: 100%;
	height: 95px;
	background: white;
	margin: 0;
	padding: 0;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.50);
	position: fixed;


}

.head_container{
	width: 100%;
	height: 100%;
	display: flex;
	margin: 0px auto;
	padding: 6px 10px;
}

#logo{
	font-size: 30px;
	width: auto;
	margin: 0;
	padding: 0px 10px 0 0px;
	color: black;

}

span#menu{
	width: auto;
	height: 100%;
	margin: 0;
	padding: 5px 0px 0 0px;
	display: flex;
	text-align: left;
}

#menu li{
	padding: 0;
	margin: 0;
	list-style: none;
}



#menu a{
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	font-size: 22px;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
}


#menu #men-list:hover #men::after,
#menu #men-list:focus #men::after{
	width: 100%;
}




#menu #men::after{
	content: '';
	display: block;
	width: 0%;
	height: 5px;
	margin: 3px 0 0 0;
	padding: 5px 0 0px 0;
	position: absolute;
	background-color: cyan;
}

#menu #men{
	color: cyan;
}

#menu #women-list:hover #women-menu-sub,
#menu #women-list:focus #women-menu-sub{
	display: block;
}

#menu #women-list:hover #women::after,
#menu #women-list:focus #women::after{
	width: 100%;
}

#menu #women::after{
	content: '';
	display: block;
	width: 0%;
	height: 5px;
	margin: 3px 0 0 0;
	padding: 5px 0 0px 0;
	position: absolute;
	background-color: pink;
	transform: translateX(0%);

}

#menu #women{
	color: pink;
	padding-left: 5px;
	
}

.menu-sub{
	position: absolute;
	width: 100vw;
	height: 50vh;
	background: white;
	margin: 0px 0 0 0;
	left: 0;
	top: 45px;
	font-size: 40px;
	text-align: center;
	z-index: 100;
}

#men-menu-sub{
	border:2px cyan solid;
	display: none;

}

#women-menu-sub{
	border:2px pink solid;
	display: none;

}



#menu #men-list:hover #men-menu-sub,
#menu #men-list:focus #men-menu-sub{
	display: block;
}

.search_bar{
	position: absolute;
	width: 100%;
	margin: 0px 0 0 0;
	padding: 0px 0 0 10px;
	left: 0;
	bottom: 10px;
}

#search_form{
	width: 100%;
	display: flex;
	padding: 0px 0 0 0;
}

#search_input{
	width: 100%;
	height: 35px;
	overflow: hidden;
	transform: translateX(0px);
}

#search_form input[type="text"]{
	padding: 2px 45px 2px 25px;
	border: 0;
	border-radius: 22px;
	outline: 0;
	background: #f3f3f5;
	font-size: 16px;
	font-color:gray;
}

#searchicon{
	margin-top: 3px;  
	width: 0;
	height: 35px;
	transform: translateX(-35px);
	cursor: pointer;
	background: none;
	border: 0;
}
#searchicon img{
	width: 15px;
}

span#accounticon{
	display: block;
	width: auto;
	margin: 0;
	padding: 5px 0 0px 0px;
	height: 50%;
	position: absolute;
	right: 52px;

}


#accounticon::after{
	content: '';
	display: block;
	width: 0;
	height: 5px;
	margin: 3px 0 0 0;
	padding: 5px 0 0px 0;
	position: absolute;
	background-color: black;
}

#accounticon img{
	width: 23px;
	padding-left: 0px ;
}

span#accounticon:hover{
	cursor: pointer;
}


span#accounticon:hover::after{
	width: 100%;
}




.account_options{
	position: absolute;
	width: 100vw;
	height: 50vh;
	background: white;
	margin: 0px 0 0 0;
	left: 0;
	top: 45px;
	font-size: 40px;
	text-align: center;
	z-index: 100;
	border:2px black solid;
	display: none;
}

.account_options--on{
	display: block;
}

span.bagicon{
	display: block;
	width: auto;
	margin: 0;
	height: 50%;
	padding: 6px 0px 0px 5px;
	right: 15px;
	position: absolute;
}
.bagicon img{
	width: 22px;
}

.bagicon:hover{
	cursor: pointer;
}


.bag_focus{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 800;
	background-color: rgba(0,0,0,0.7);
	display: none;
	opacity: 0;
	transition: all ease-in-out 250ms;
}

.bag_focus--on{
	display: block;
	opacity: 100;
}


.bag{
	position: absolute;
	top: 0;
	right: 0;
	background-color: #F5F5F5;
	height: 100vh;
	width: 0;
	overflow: hidden;
	z-index: 900;
	transition: all ease-in-out 200ms;
}

.bag--open{
	width: 80vw;
	max-width: 400px;
}

.close_bag{
	content: '';
	position: absolute;
	right: 0;
	display: none;
	top: 50vh;
	z-index: 899;
}

.close_bag::before,.close_bag::after{
	content: '';
	display: block;
	width: 3em;
	height: 0.5em;
	background-color: #F5F5F5;
	border-radius: 10px;
}


.close_bag--on{
	display: block;
	right: 83vw;

}
.close_bag--on::before{
	transform: rotate(135deg);
}

.close_bag--on::after{
	transform: translateY(-0.52em) translateX(-0.09em) rotate(-135deg);
}




.bag_heading{
	width: 100%;
	text-align: center;
	padding-top: 15px;
	font-family: 'Ubuntu', sans-serif;
}

.bag_heading::after{
	content: '';
	width: 85%;
	background-color: grey;
	height: 1px;
	margin: 15px auto;
	display: block;

}
/*Header over======================================================================================*/



/*MEDIA QUERIES=====================================================================================*/


@media(min-width: 760px){

	header{
		height: 70px;
		margin: 0 auto;

	}

	.head_container{
		max-width: 2000px;
		position: relative;
	}

	#logo{
		font-size: 40px;
		width: auto;
		margin: 0 0px 0 0;
		padding: 0px 18px 0 0px;

	}

	span#menu{
		width: auto;
		height: 100%;
		margin: 0 0 0 0px;
		padding: 12px 0px 0 0px;
		min-width: 180px;
		text-align: left;
	}




	#menu a{
		text-decoration: none;
		padding: 20px 0px 0px 0px;
		font-size: 26px;
		position: relative;
		font-family: 'Ubuntu', sans-serif;
	}

	#menu #women{
		padding-left: 5px;
	}


	.menu-sub{
		height: 40vh;
		margin: 14px 0 0 0;
	}

	#menu #women::after{
		padding: 6px 0 0 0;
		transition: all ease-in-out 200ms;

	}

	#menu #men::after{
		padding: 6px 0 0 0;
		transition: all ease-in-out 200ms;

	}

	.search_bar{
		position: relative;
		flex-grow: 2;
		margin: 0;
		padding: 17px 0 0 0px;
	}

	#search_form{
		padding: 0px 0 0 0;
	}

	#search_input{
		width: 100%;
		height: 43px;
		overflow: hidden;
	}

	#search_form input[type="text"]{
		border-radius: 20px;
		font-size: 18px;
	}

	#searchicon{
		margin-top: 1.5px;  
		width: 40px;
		height: 40px;
		transform: translateX(-50px);
	}


	#searchicon img{
		width: 25px;
	}

	span#accounticon{
		position: relative;
		display: inline-block;
		width: auto;
		margin: 0 40px 0 0;
		padding: 10px 5px 0 0px;
		right: 0px;

	}
	#accounticon img{
		width: 30px;
	}

	span.bagicon{
		display: inline-block;
		width: auto;
		margin: 0;
		padding: 10px 0px 0px 0px;
		right: 15px;
	}

	.bagicon img{
		width: 30px;
	}



}


@media(min-width: 760px){
	.close_bag--on{
		right: 415px;
	}
}